@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
*{
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root {
    --blue: #2a2185;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
}
.general{
    position: relative;
    width: 100%;
}
.sideBar {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.sideBar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.sideBar ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.sideBar ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}
.sideBar ul li a {
    position: relative;

    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.sideBar ul li:hover a{
    color: var(--blue);
}
.sideBar ul li:hover {
    background-color: var(--white);
}
.sideBar ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
    align-content: center;
}

.sideBar ul li a .icon ion-icon {
    font-size: 1.75rem;
}

.sideBar ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.sidebar ul li:hover a::before,
.sideBar ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.sideBar li:hover a::after,
.sideBar ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cardBox .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--blue);
}

.cardBox .card .cardName {
    color: var(--black2);
    font-size: 1.1rem;
    margin-top: 5px;
}

.cardBox .card .iconBx {
    font-size: 3.5rem;
    color: var(--black2);
}

.cardBox .card:hover {
    background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
    color: var(--white);
}

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}

.details .Projets{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}
.cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td {
    font-weight: 600;
}
.details .Projets table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .Projets table tr:last-child {
    border-bottom: none;
}
.details .Projets table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
}

.details .Projets table tbody tr:hover a{
    background: var(--blue);
    color: var(--white);
}
.details .Projets table tr td {
    padding: 7px;
}

.details .Projets table tr td a{
    color: var(--black1);

}

.details .Projets table tr td:last-child {
    text-align: start;
}
.details .Projets table tr td:nth-child(2) {
    text-align: start;
}
.details .Projets table tr td:nth-child(3) {
    text-align: start;
    width: 15%;
}
.details .Projets table tr td:nth-child(4) {
    width: 15%;
}
.details .Projets table tr td:nth-child(5) {
    width: 15%;
}
.details table{
    width: 100%;
}
.details table thead{
    width: 100%;
}
.details table tbody{
    width: 100%;
}
.Terminee{
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.En.cours{
    padding: 2px 4px;
    background: #e9b10a;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.Bloquee{
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.v{
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}


.Taches {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.Taches .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}
.Taches .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Taches table tr td {
    padding: 12px 10px;
}
.Taches table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2rem;
}
.Taches table tr td h4 span {
    font-size: 14px;
    color: var(--black2);
}
.Taches table tr:hover {
    background: var(--blue);
    color: var(--white);
}
.Tachestable tr:hover td h4 span {
    color: var(--white);
}

.card_disney{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    transition: .6s;
    cursor: pointer;
}
.card_disney:hover{
    transform: scale(1.1);
}
.cardD > h1 {
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    text-align: left;
    padding: 7px 1px;
    padding-top: 12px;
    padding-left: 25px;
    cursor: pointer;
    transition: .6s;



}
.cardD > h1:hover{
    transform: scale(1.1);
}
.card-content{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
}
.card-content > h2{
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.card-content > h3{
    font-size: 12px;
    font-weight: 500;
    color: #aeaeae;
    border: 2px solid rgba(59, 59, 67, 0.85);
    padding: 5px;
}
.titre-cards{
    width: 90%;
    padding:5px 10px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.titre-cards > h1 {
    margin-top:15px ;
    font-size: 20px;
    font-weight: 500;
   color: var(--black1);
    font-family:Arial, Helvetica, sans-serif;
}

.main-cards{
    width: 90%;
    height: 400px;
    padding: 5px 5px;
    display: flex;
    overflow: auto;
    margin: 0 auto;

}
.card1{
    position: relative;
    display: flex;

}
.card-wrapper{
    display: flex;
}
.cardD{
    width: 300px;
    margin: 10px 5px;
    height: 230px;
}
.cardD > div {
    width: 80%;
    margin: 0 auto;
    border-radius: 12px;
}
.All-icons{
    width: 100%;
    height: 0px;
    position: absolute;
    top: 0;
    left:0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    background: rgba(255, 255, 255, 0.38);
    backdrop-filter: blur(10px);
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}
.All-icons > a{
    color: black;
    width: 24%;
    height: 100%;
    margin: 2px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 3px;
    transition: .5s;
}
.All-icons > a:hover{
    color: #1795ce;
}


::-webkit-scrollbar {
    width: 3px;
    height:3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: transparent;
}
